---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=pueblo,co&term=italian,restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer PlC5OYokAEngNL7GlOJ8r-NNCVKzrrq-StGoNi04tk46WLibBnrTrlRfCQa7v04ij-b7DtvIVoitzF6mGlQvDRvbKqtCEHv5zWBmP9S2s0F-YQMYYsV4jGZecqKZZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '497.0'
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Zipkin-Id:
      - 07d8278924f887a0
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-kdklc; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-113-124-useast1aprod
      X-Extlb:
      - 10-65-113-124-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "ohD11-Q1y0Y3tNy0LjyTqw", "alias": "la-forchetta-da-massi-pueblo",
        "name": "La Forchetta Da Massi", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/wvsyEbbKI049FMFcfSk0kQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/la-forchetta-da-massi-pueblo?adjust_creative=uTgADcfJkr4ZQKhCNIGOCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=uTgADcfJkr4ZQKhCNIGOCQ",
        "review_count": 230, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "wine_bars", "title": "Wine Bars"}], "rating": 4.5, "coordinates":
        {"latitude": 38.2645118031982, "longitude": -104.613206125796}, "transactions":
        ["delivery"], "price": "$$", "location": {"address1": "126 S Union Ave", "address2":
        "", "address3": null, "city": "Pueblo", "zip_code": "81003", "country": "US",
        "state": "CO", "display_address": ["126 S Union Ave", "Pueblo, CO 81003"]},
        "phone": "+17192530126", "display_phone": "(719) 253-0126", "distance": 3538.389354175468},
        {"id": "6UIp5Jn_gtBfa2gN7EkLNA", "alias": "rosarios-italian-bistro-pueblo",
        "name": "Rosario''s Italian Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/tbDN_3HcfuuzP-orLRq37w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/rosarios-italian-bistro-pueblo?adjust_creative=uTgADcfJkr4ZQKhCNIGOCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=uTgADcfJkr4ZQKhCNIGOCQ",
        "review_count": 18, "categories[...]
